.ui.top.fixed.menu.main-menu {
  div.menu,
  & {
    a > span {
      white-space: nowrap;

      @media screen and (max-width: 991px) {
        display: none;
      }
    }

    a > i {
      @media screen and (max-width: 991px) {
        margin: 0;
      }
    }
  }
}
