.textarea-mimic {
  background-color: white;
  border-radius: 0.28571429rem;
  border: 1px solid white;
  color: black;
  max-height: 95px;
  padding: 11px 14px;
  overflow-y: scroll;
  font-size: 1em;
  line-height: 1.2857;
  font-family: sans-serif;
  word-wrap: break-word;
}
