.ui.table.expired-invoices tbody tr {
  @media screen and (max-width: 1200px) {
    td:nth-child(1) {
      width: 43.75%;
    }

    td:nth-child(2) {
      width: 0;
      padding: 0;
      opacity: 0;
    }

    td:nth-child(3) {
      width: 68.75%;
    }

    td:nth-child(4) {
      width: 62.5%;
    }

    td:nth-child(5) {
      width: 62.5%;
    }
  }

  @media screen and (min-width: 1200px) {
    td:nth-child(1) {
      width: 43.75%;
    }

    td:nth-child(2) {
      width: 75%;
    }

    td:nth-child(3) {
      width: 68.75%;
    }

    td:nth-child(4) {
      width: 62.5%;
    }

    td:nth-child(5) {
      width: 62.5%;
    }
  }
}
