.financial-overview .ui.table {
  white-space: nowrap;
  font-size: 0.9em;

  @media screen and (max-width: 1200px) {
    font-size: 0.75em;
  }

  tbody > tr > td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {
    cursor: pointer;
  }
}
